## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
#if($jqlNotSet || $jqlNotValid)
$i18n.getText("queryfields.field.error")
#else
#foreach($val in $cfVals.entrySet())
<a href='$requestContext.getBaseUrl()/browse/$val.key'>$val.value.getSummary()</a>#if($velocityCount != $cfVals.size()), #end
#end
#end