## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
#if($jqlNotSet || $jqlNotValid)
<input value='$i18n.getText("queryfields.field.error")' class='textfield' readonly='readonly'/>
#else
<input type="hidden" name="$customField.id" value="$selected" id="$customField.id" class="textfield" readonly="readonly"/>
<select id="linker$customField.id" name="linker$customField.id" onchange="setQueryFieldValue('linker$customField.id', '$customField.id');">
  #foreach($val in $cfVals.entrySet())
  <option value="$val.key" #if($val.key == $selected)selected="selected"#end>${val.value}</option>
  #end
</select>
#end
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)