## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
#if($jqlNotSet || $jqlNotValid)
<input value='$i18n.getText("queryfields.field.error")' class='textfield' readonly='readonly'/>
#else
<input type="hidden" name="$customField.id" value="#if($value)$value#end" id="$customField.id" class="textfield" readonly="readonly"/>
<select id="mailsel$customField.id" name="mailsel$customField.id" onchange="setValue();">
  #foreach($val in $cfVals)
  <option value="$val" #if($value && $val == $value)selected#end>$val</option>
  #end
</select>
<script language="javascript">
    AJS.$(document).ready(function(){
        var val = AJS.$("#mailsel$customField.id :selected").val();
        if (val) {
            AJS.$("#$customField.id").val(val);
        } else {
            AJS.$("#$customField.id").val("None");
        }
    });

    function setValue() {
        var val = AJS.$("#mailsel$customField.id :selected").val();
        AJS.$("#$customField.id").val(val);
    }
</script>
#end
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)
$webResourceManager.requireResource("ru.mail.jira.plugins.lf.queryfields:queryfieldsrsc")