## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0" width="30%">
        <span class="label">$i18n.getText("queryfields.pf.jql")</span>
    </td>
    <td bgcolor="#ffffff" nowrap width="70%">
        <textarea id="jql" name="jql" rows="3">#if($jql)$jql#end</textarea>
            <br/>
            <font size="1">$i18n.getText("queryfields.pf.jql.descr")</font>
    </td>
</tr>
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0" width="30%">
        <span class="label">$i18n.getText("queryfields.pf.statuses")</span>
    </td>
    <td bgcolor="#ffffff" nowrap width="70%">
        <select id="invalid_statuses" name="invalid_statuses" multiple="multiple" size="5">
            #foreach($entry in $statuses.entrySet())
                <option #if($invalid_statuses.contains($entry.key))selected="selected"#end value="$entry.key">$entry.value</option>
            #end
        </select>
        <br/>
        <font size="1">$i18n.getText("queryfields.pf.statuses.descr")</font>
    </td>
</tr>
