## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
<html>
    <head>
        <title>$action.getText("queryfields.admin.title")</title>
        <meta name="decorator" content="admin"/>
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("jira.webresources:autocomplete")
        $webResourceManager.requireResource("ru.mail.jira.plugins.lf.queryfields:queryfieldsrscadmin")
    </head>
    <body class="aui">
        #if($action.hasAdminPermission())
            <input type="hidden" name="atl_token" id="atl_token" value="$action.getXsrfToken()"/>
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                            <table class="jiraform maxWidth">
                                <tr>
                                    <td class="jiraformheader">
                                        <h3 class="formtitle">$action.getText("queryfields.linkingfields")</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="grid maxWidth">
                                            <thead>
                                                <tr>
                                                    <th width="10%">$action.getText("queryfields.admin.cfname")</th>
                                                    <th width="10%">$action.getText("queryfields.admin.project")</th>
                                                    <th width="40%">$action.getText("queryfields.admin.jql")</th>
                                                    <th width="10%">$action.getText("queryfields.allowempty")</th>
                                                    <th width="10%">$action.getText("queryfields.autocompleteview")</th>
                                                    <th width="18%">$action.getText("queryfields.options")</th>
                                                    <th width="10%">$action.getText("queryfields.admin.action")</th>
                                                    <th width="10%">$action.getText("queryfields.sqljql.switcher")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                #foreach($lrFields in $action.getCfData().getLinkerFields())
                                                    <tr>
                                                        <td width="10%">$lrFields.getName()</td>
                                                        <td width="10%">$lrFields.getProjectName()</td>
                                                        #if ($lrFields.getQueryFlag())
                                                            <td width="40%">#if($lrFields.getSqlData())$lrFields.getSqlData()#end</td>
                                                                #else
                                                                    <td width="40%">#if($lrFields.getData())$lrFields.getData()#end</td>
                                                        #end
                                                        <td width="10%">
                                                            <input type="checkbox" #if($lrFields.isAddNull())checked="checked"#end/ disabled="disabled"/>
                                                        </td>
                                                        <td width="10%">
                                                            <input type="checkbox" #if($lrFields.isAutocompleteView())checked="checked"#end/ disabled="disabled">
</td>
<td width="18%">
    #foreach($opt in $lrFields.getOptions())
        #if($velocityCount > 1), #end$action.getText("queryfields.opt.$opt")
    #end
</td>
<td width="10%">
    <a href="#" onclick="configureJql(event, '$baseUrl', $lrFields.getCfId(), $lrFields.getProjectId(), 1);">$action.getText("queryfields.admin.action.confugure")</a>
</td>
<td>
    <form action="$baseUrl/rest/queryfieldsws/1.0/queryfieldssrv/switchlang" method="get" enctype="text/html">
        <input type="hidden" name="cfKey" value="$lrFields.getCfId()" />
        #if ($lrFields.getQueryFlag())
            <input type="submit" class="aui-button" value="$i18n.getText("queryfields.button.switchto.jql")"/>
            #else
                <input type="submit" class="aui-button" value="$i18n.getText("queryfields.button.switchto.sql")"/>
        #end
    </form>
</td>
</tr>
                                                #end
</tbody>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
    <td>
        <table class="jiraform maxWidth">
            <tr>
                <td class="jiraformheader">
                    <h3 class="formtitle">$action.getText("queryfields.multilinkingfields")</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="grid maxWidth">
                        <thead>
                            <tr>
                                <th width="10%">$action.getText("queryfields.admin.cfname")</th>
                                <th width="10%">$action.getText("queryfields.admin.project")</th>
                                <th width="40%">$action.getText("queryfields.admin.jql")</th>
                                <th width="10%">$action.getText("queryfields.allowempty")</th>
                                <th width="10%">$action.getText("queryfields.autocompleteview")</th>
                                <th width="18%">$action.getText("queryfields.options")</th>
                                <th width="10%">$action.getText("queryfields.admin.action")</th>
                                <th width="10%">$action.getText("queryfields.sqljql.switcher")</th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($lrFields in $action.getCfData().getMultiFields())
                                <tr>
                                    <td width="10%">$lrFields.getName()</td>
                                    <td width="10%">$lrFields.getProjectName()</td>
                                    #if ($lrFields.getQueryFlag())
                                        <td width="40%">#if($lrFields.getSqlData())$lrFields.getSqlData()#end</td>
                                            #else
                                                <td width="40%">#if($lrFields.getData())$lrFields.getData()#end</td>
                                    #end
                                    <td width="10%">
                                        <input type="checkbox" #if($lrFields.isAddNull())checked="checked"#end/ disabled="disabled"/>
                                    </td>
                                    <td width="10%">
                                        <input type="checkbox" #if($lrFields.isAutocompleteView())checked="checked"#end/ disabled="disabled"/>
                                    </td>
                                    <td width="18%">
                                        #foreach($opt in $lrFields.getOptions())
                                            #if($velocityCount > 1), #end$action.getText("queryfields.opt.$opt")
                                        #end
                                    </td>
                                    <td width="10%">
                                        <a href="#" onclick="configureJql(event, '$baseUrl', $lrFields.getCfId(), $lrFields.getProjectId(), 1);">$action.getText("queryfields.admin.action.confugure")</a>
                                    </td>
                                    <td>
                                        <form action="$baseUrl/rest/queryfieldsws/1.0/queryfieldssrv/switchlang" method="get" enctype="text/html">
                                            <input type="hidden" name="cfKey" value="$lrFields.getCfId()" />
                                            #if ($lrFields.getQueryFlag())
                                                <input type="submit" class="aui-button" value="$i18n.getText("queryfields.button.switchto.jql")"/>
                                                #else
                                                    <input type="submit" class="aui-button" value="$i18n.getText("queryfields.button.switchto.sql")"/>
                                            #end
                                        </form>
                                    </td>
                                </tr>
                            #end
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table class="jiraform maxWidth">
            <tr>
                <td class="jiraformheader">
                    <h3 class="formtitle">$action.getText("queryfields.relatedfields")</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="grid maxWidth">
                        <thead>
                            <tr>
                                <th width="10%">$action.getText("queryfields.admin.cfname")</th>
                                <th width="10%">$action.getText("queryfields.admin.project")</th>
                                <th width="50%">$action.getText("queryfields.admin.jql")</th>
                                <th width="20%">$action.getText("queryfields.options")</th>
                                <th width="10%">$action.getText("queryfields.admin.action")</th>
                                <th width="10%">$action.getText("queryfields.sqljql.switcher")</th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($ldFields in $action.getCfData().getLinkedFields())
                                <tr>
                                    <td width="10%">$ldFields.getName()</td>
                                    <td width="10%">$ldFields.getProjectName()</td>
                                    #if ($ldFields.getQueryFlag())
                                        <td width="50%">#if($ldFields.getSqlData())$ldFields.getSqlData()#end</td>
                                            #else
                                                <td width="50%">#if($ldFields.getData())$ldFields.getData()#end</td>
                                    #end
                                    <td width="20%">
                                        #foreach($opt in $ldFields.getOptions())
                                            #if($velocityCount > 1), #end$action.getText("queryfields.opt.$opt")
                                        #end
                                    </td>
                                    <td width="10%">
                                        <a href="#" onclick="configureJql(event, '$baseUrl', $ldFields.getCfId(), $ldFields.getProjectId(), 0);">$action.getText("queryfields.admin.action.confugure")</a>
                                    </td>
                                    <td>
                                        <form action="$baseUrl/rest/queryfieldsws/1.0/queryfieldssrv/switchlang" method="get" enctype="text/html">
                                            <input type="hidden" name="cfKey" value="$ldFields.getCfId()" />
                                            #if ($ldFields.getQueryFlag())
                                                <input type="submit" class="aui-button" value="$i18n.getText("queryfields.button.switchto.jql")"/>
                                                #else
                                                    <input type="submit" class="aui-button" value="$i18n.getText("queryfields.button.switchto.sql")"/>
                                            #end
                                        </form>
                                    </td>
                                </tr>
                            #end
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
</tbody>
</table>
<a href="#" class="wiki-renderer help-icon" id="query-inline-sql-help-dialog" title="$i18n.getText("queryfields.help.sql")" base-url="$baseUrl">"$i18n.getText("queryfields.help.sql")"</a>
#else
    <div class="errorArea">$action.getText("queryfields.admin.link.error")</div>
        #end
</body>
</html>
