$!{auiparams.put("controlHeaderClass", "aui-field-text")}
#searcherEditHeader (${customField.id} ${customField.name})
<select class="select" id="searcher-$customField.id" name="$customField.id">
    <option></option>
    <option value="None">None</option>
    #foreach($val in $cfVals.entrySet())
        <option value="$val.key" #if($val.key == $selected)selected="selected"#end>${val.value}</option>
    #end
</select>
#searcherEditFooter (${customField.id} ${customField.description})
$!{auiparams.clear()}