## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
<form class="aui" id="setjclform" name="setjclform" action="${baseUrl}/rest/queryfieldsws/1.0/queryfieldssrv/setjcl" method="post">
    <input type="hidden" name="atl_token" value="$atl_token"/>
    <input type="hidden" name="cfId" value="$cfId"/>
    <input type="hidden" name="prId" value="$prId"/>
    <div class="field-group">
        <label for="mrimLogin">$i18n.getText("mrim.admin.configuration.login")<span class="aui-icon icon-required"></label>
        <input type="text" id="email" name="email"/>
    </div>
</form>
