#if($value)
    <div class="shorten" id="${customField.id}-field">
       #foreach ($selVal in $setVals.entrySet())
         #if(${displayParameters.view_issue})
         <span><a href='$requestContext.getBaseUrl()/browse/$selVal.key'>${selVal.value.getSummary()}</a> ${selVal.value.getDetails()}
         #else
         <span><a href='$requestContext.getBaseUrl()/browse/$selVal.key'>${selVal.value.getSummary()}</a>
         #end
         #if($velocityCount != $setVals.size())</span>,#end
       #end
    </div>
#end