## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
$webResourceManager.requireResource("ru.mail.jira.plugins.lf.queryfields:queryfieldsrsc")
#foreach($val in $cfVals)
  <a href="$baseUrl/browse/$val">$val</a>
#end