## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
$webResourceManager.requireResource("ru.mail.jira.plugins.lf.queryfields:queryfieldsrsc")
#if($jqlNotSet || $jqlNotValid)
<label>$i18n.getText("queryfields.field.error")</label>
#else
#foreach($val in $cfVals.entrySet())
  <a href="$baseUrl/browse/$val.key">$val.key</a>
#end
#end