## Created by Andrey Markelov 29-08-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
$webResourceManager.requireResource("ru.mail.jira.plugins.lf.queryfields:queryfieldsrsc")
#if($value)
#if($value == "empty")
${value}
#else
<a href='$baseUrl/browse/$value'>${value}#if($fullValue): $fullValue#end</a>
#end
#end