#if($value)
    <div class="shorten" id="${customField.id}-field">
       #foreach ($selVal in $setVals.entrySet())
         <span><a href='$requestContext.getBaseUrl()/browse/$selVal.key'>#if($hasKey)${selVal.key}:#end${selVal.value}</a>
         #if($velocityCount != $setVals.size())</span>,#end
       #end
    </div>
#end